@import '../../scss/base/_variables';
.autoprompt {
    .input {
        width: 300px;
    }
    ul {
        background: $white;
        border: 1px solid $font-c;
        border-radius: 2px;
        box-shadow: 3px 2px 5px $font-c;
        width: 300px;
        margin: 0;
        list-style: none;
        max-height: 250px;
        padding: 0;
    }
    li {
        height: 30px;
        line-height: 30px;
        p {
            margin: 0 10px;
            font-size: 13px;
            color: $font-a;
        }
    }
    li:not(.selected):hover {
        background: $bg-a;
        p {
            color: $font-a;
        }
    }
    .selected {
        background: $btn-blue-n;
        p {
            color: $white;
        }
    }
}