.toast-wraper {
    position: fixed;
    border-radius: 5px;
    min-width: 160px;
    max-width: 190px;
    // height: 200px;
    padding: 30px 10px;
    text-align: center;
    // padding-top: 20px;
    // flex: 1;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 10001;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    word-break: break-all;
}
